.top-section{
   margin-right: 0px !important;
   margin-left: 0px !important;

}

.cart-card{
    margin: 10px 0px;
    height: 18rem;
    border: 2px solid #0061a1;
}

.cart-title{
    text-align: center;
    font-weight: 700;
    color: #0061a1;
}

.item-no{
    width: 11rem;
    margin-top: 31px;
}

.cart-img{
    width: 5rem;
}

.item-tbl{
    width: 100%;
    margin-left: 20px;
    font-size: 14px;
}

.item-tbl thead tr{
    font-weight: 500;
}

.item-tbl tr{
    border-bottom: 1px solid #ced4da ;
}

.item-data1{
    display: grid;
}
.item-data1 img{
  width: 4rem;
}
