.navbar {
    background-color: #020c35;
}

.navbar .btn{
    color: white;
    background: transparent;
    border: unset;
    margin-left: 10px;
}

.navbar .btn:hover{
    color: #17a2b8;
}

.navbar .btn:focus{
    outline:unset !important;
    box-shadow:unset !important;
    color: #17a2b8;
}

.top-section{
   margin-right: 0px !important;
   margin-left: 0px !important;

}

.cart-card{
    margin: 24px 0px;
    height: 201px;
    border: 2px solid #0061a1;
}

.cart-title{
    text-align: center;
    font-weight: 700;
    color: #0061a1;
    margin: 18px;
}

.item-no{
    width: 11rem;
    margin-top: 31px;
}

.cart-img{
    width: 5rem;
}

.item-tbl{
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
}

.item-tbl thead tr{
    font-weight: 500;
    color: #020c35;
    font-size: 16px;
}

.item-tbl tr{
    border-bottom: 1px solid #ced4da ;
}

.item-data1{
    display: grid;
}
.item-data1 img{
  width: 4rem;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #020c35;
    color: white;
    height: 50px;
  }
  
  .go-cart-btn{
    height: 40px;
    height: 40px;
    width: 100%;
    margin-top: 18px;
}

.logoApp img{
    width: 92%;
}

.btn-remove{
    width: 55px;
    height: 25px;
    font-size: 11px;
    font-weight: 600;
    margin: 5px;
    padding: 3px !important;
}

.items-container{
    border:5px solid #020c3536;
    padding: 30px;
    border-radius: 10px;
}

.chcontainer{
    border:5px solid #020c3536 !important;
    padding: 30px;
    border-radius: 10px !important;
    background-color: unset !important;
}

.custom-color{
    color: #1a308a;
}

.chart-view{
    display: grid;
    margin-bottom: 20px;
    text-align: -webkit-right;
}

.chart-view span{
    font-weight: 700;
    margin-right: 219px;
}
  